
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #f6f7f5, #26a8be); 
    font-size: 15px;
}


.text-center {
    text-align: center;
}

/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 8px;
   /* border: 1px solid #dee2e60c;  */
   
}

.table th {
    background: linear-gradient(to bottom right, #e0dfdf, #c8f6f7); 
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.76);
}

/* Estilos para los botones */
.btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 4px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-success {
    background: linear-gradient(to bottom right, #b3b608, #8f7a05); 
    color: rgb(196, 196, 196);
}


.btn-2 {
    background: linear-gradient(to bottom right, #08b61f, #154602); 
    color: rgb(196, 196, 196);
}
.btn-3 {
    background: linear-gradient(to bottom right, #333232, #181818); 
    color: rgb(196, 196, 196);
}
.btn-black {
    background: linear-gradient(to bottom right, #e26565, #850404); 
    color: rgb(196, 196, 196);
}

.foto{
    max-width: 50px; /* Cambia el tamaño máximo según lo necesites */
    height: auto; /* Para mantener la proporción de aspecto */
    border-radius: 50%;

}