body{
  
    background: linear-gradient(to bottom right, #000000c9, #5c4374a9), url("/img/login.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Esto asegura que la imagen de fondo cubra todo el cuerpo */
color: white;
}
.container {
    text-align: center;
padding: 8px;
}

/* Estilos para el formulario */

#logi{
    display:flex;
    justify-content: center;
}
#button{
    margin-top: 20px;
 
}
.btn-primary{

    background: rgb(83, 168, 168);
}