body {
    background: linear-gradient(to bottom right, #034346c9, #dfd7ddee); 
   
   
}


.container {
    display: flex;
    flex-direction: column; /* Alinear los elementos verticalmente */
    align-items: center; /* Centrar los elementos horizontalmente */
}

.form-row {
    display: flex;
    justify-content: space-around; /* Espacio igual entre los elementos */
    margin-bottom: 20px; /* Espacio entre filas */
}

.form-container {
    width: 45%; /* Ancho de cada contenedor */
    background: linear-gradient(to bottom right, #7e649b77, #0c91a867); /* Color de fondo para el formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.76);

    color: #292929e7;
}
/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.76);
}

.table td {
    padding: 8px;
   /* border: 1px solid #dee2e60c;  */
   background: linear-gradient(to bottom right, hsl(188, 59%, 84%), #c5e7e7); 

}

.table th {
    padding: 8px;
    background: linear-gradient(to bottom right, #abe2d8, #dfd7ddee); 
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.76);
}
