@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="/css/Home/Index.css" />
<div class="text-center">
    <h1 class="display-1">Bienvenidos</h1>
    <h3 class="display-6">Inmobiliaria E-M</h3>
    <img src="" alt="">
</div>
