@model tpInmobliaria.Models.Inquilino
<link rel="stylesheet" href="/css/Inquilino/Edit.css" />

@{
    ViewData["Title"] = "Inmobiliaria";
}


<div class="container">
    <div class="form-container">
         <h3 class="text-center">Inquilino</h3>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_Inquilino" />

           <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre:</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>


			<div class="form-group">
				 <label asp-for="Apellido" class="control-label">Apellido:</label>
        <input asp-for="Apellido" class="form-control"/>
        <span asp-validation-for="Apellido" class="text-danger"></span>
			</div>

			<div class="form-group">
				   <label asp-for="Dni" class="control-label">Documento:</label>
        <input asp-for="Dni" class="form-control"/>
        <span asp-validation-for="Dni" class="text-danger"></span>
			</div>
            
             <div class="form-group">
				  <label asp-for="Email" class="control-label">Correo:</label>
        <input asp-for="Email" class="form-control"  />
        <span asp-validation-for="Email" class="text-danger"></span>
			</div>
                  <div class="form-group">
				  <label asp-for="Telefono" class="control-label">Teléfono:</label>
        <input asp-for="Telefono" class="form-control"  />
        <span asp-validation-for="Telefono" class="text-danger"></span>
			</div>

			    			<div class="form-group" style="padding: 5px;">
				<input type="submit" value="Editar" class="btn btn-success" />
			</div>
		</form>
        
   


<div class="text-center mt-3">
    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Index")'">Atras</button>
</div>
</div>
</div>