@model tpInmobliaria.Models.Proprietor

@{
    ViewData["Title"] = "Inmobiliaria";
}


<div class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-md-4" style="background-color: #c4ccc2; border-radius: 10px; padding: 20px;">
        <h3 class="text-center">Formulario de Edición Propietario</h3>
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_Proprietor" />

            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


			<div class="form-group">
				 <label asp-for="Last_Name" class="control-label">Apellido:</label>
        <input asp-for="Last_Name" class="form-control"/>
        <span asp-validation-for="Last_Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				   <label asp-for="Dni" class="control-label">Documento:</label>
        <input asp-for="Dni" class="form-control"/>
        <span asp-validation-for="Dni" class="text-danger"></span>
			</div>
            
			<div class="form-group">
			  <label asp-for="Birthdate" class="control-label">F. de Nacimiento:</label>
        <input asp-for="Birthdate" class="form-control" />
        <span asp-validation-for="Birthdate" class="text-danger"></span>
			</div>
			
   <div class="form-group">
    <label asp-for="Sex">Género:</label>
    <select asp-for="Sex" class="form-control" style="text-align: center;">
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
    </select>
    <span asp-validation-for="Sex" class="text-danger"></span>

            <div class="form-group">
				  <label asp-for="Address" class="control-label">Dirección:</label>
        <input asp-for="Address" class="form-control"  />
        <span asp-validation-for="Address" class="text-danger"></span>
			</div>
                  <div class="form-group">
				  <label asp-for="Phone" class="control-label">Teléfono:</label>
        <input asp-for="Phone" class="form-control"  />
        <span asp-validation-for="Phone" class="text-danger"></span>
			</div>
                    <div class="form-group">
				  <label asp-for="Email" class="control-label">Correo:</label>
        <input asp-for="Email" class="form-control"  />
        <span asp-validation-for="Email" class="text-danger"></span>
			</div>
			    			<div class="form-group" style="padding: 5px;">
				<input type="submit" value="Editar" class="btn btn-success" />
			</div>
		</form>
        
    </div>
</div>

<div class="text-center mt-3">
    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Index")'">Back to List</button>
</div>
</div>